pathlib
pyHanko
reportlab
PyPDF2
qrcode
pillow
asgiref
pyOpenSSL
cryptography
ntplib
pypdf

Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-Cors
flask_mail

PyMySQL
python-dotenv

Werkzeug
itsdangerous

# Optionnel : Dépendances pour Docker ou production
gunicorn
user-agents==2.2.0
